## 1- ASSIGNMENT (LOOPS)

  QUESTION - Q1. Explain with an example each when to use a for loop and a while loop.
  ANSWER  - A1. Basically both the loops can be used for doing the same thing but the main difference  comes when we do not know the limit of the loop
                or for how many times the loop will execute.
                For example
                1-## to know the number of digit in a number

In [12]:
num = int(input("enter the number"))
n = num
c= 0
while n>0:
    n = n//10
    c=c+1
    
print('the number of digit in ',num,"is ",c)

enter the number 45

the number of digit in  45 is  2

                 2 - ## to add 1 to every elemnt of the numeric list

In [14]:
l=[1,2,3,4,5,6,7,'shaurya','mayhem']
l2=[]
le = len(l)
for i in range(0,le,1):
    if type(l[i])==int or type(l[i])==float:
        l2.append(l[i]+1)
l2

[2, 3, 4, 5, 6, 7, 8]

Question-2

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [16]:
n = 10
sum = 0 
prod=1
while n>0:
    sum = sum +n
    prod = prod*n
    n= n-1
print("the product of the numbers is ",prod)
print('the sum of the numbers is ',sum)

the product of the numbers is  3628800
the sum of the numbers is  55

Qusetion - 3

Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [23]:
total = 0
units = int(input('enter the units'))
if units <= 100:
        total = units * 4.5
elif units <= 200:
        total = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
        total = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
        total = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20
print ('the electricity bill is ',total)

enter the units 310

the electricity bill is  2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [8]:
l =[]
for i in range(1,101):
    l.append(i)
l3 = []
c=1
for k in l:
    c=k*k*k
    if c%4==0 or c%5==0:
        l3.append(k)
l3

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [10]:
s = "I want to become a data scientist"
c= 0
for i in s:
    if i =="a" or i =="e" or i=="i" or i=="o" or i=="u" or i=="I" :
        c+=1
        print(i)

I
a
o
e
o
e
a
a
a
i
e
i